In [1]:
import pandas as pd

In [2]:
ho_spot = pd.read_csv("HOSpot.csv")

In [3]:
ho_futures = pd.read_csv("HOFutures.csv")

In [4]:
whos

Variable     Type         Data/Info
-----------------------------------
ho_futures   DataFrame                Date  HOFutur<...>\n[1255 rows x 2 columns]
ho_spot      DataFrame                Date  HOSpot\<...>\n[1269 rows x 2 columns]
pd           module       <module 'pandas' from 'C:<...>es\\pandas\\__init__.py'>

In [5]:
ho_spot.head(10)

         Date  HOSpot
0  2019-12-31   2.004
1  2019-12-30   2.017
2  2019-12-27   2.028
3  2019-12-26   2.030
4  2019-12-24   2.017
5  2019-12-23   2.004
6  2019-12-20   1.996
7  2019-12-19   2.006
8  2019-12-18   2.001
9  2019-12-17   2.011

In [6]:
ho_futures.head(10)

         Date  HOFutures
0  2019-12-31      2.028
1  2019-12-30      2.041
2  2019-12-27      2.050
3  2019-12-26      2.052
4  2019-12-24      2.036
5  2019-12-23      2.022
6  2019-12-20      2.022
7  2019-12-19      2.030
8  2019-12-18      2.020
9  2019-12-17      2.033

In [7]:
new = pd.merge(ho_spot, ho_futures)

In [ ]:
new.head(10)

In [ ]:
new.tail(10)

In [8]:
new = new.sort_values(by="Date")

In [9]:
new.head(10)

            Date  HOSpot  HOFutures
1248  2015-01-02   1.709      1.796
1247  2015-01-05   1.698      1.749
1246  2015-01-06   1.667      1.726
1245  2015-01-07   1.659      1.700
1244  2015-01-08   1.671      1.711
1243  2015-01-09   1.653      1.703
1242  2015-01-12   1.615      1.654
1241  2015-01-13   1.584      1.633
1240  2015-01-14   1.608      1.655
1239  2015-01-15   1.569      1.623

In [10]:
new.iloc[7159]

IndexError: single positional indexer is out-of-bounds

In [ ]:
new.iloc[8407]

In [ ]:
tmp = new.iloc[7159:8407]

In [ ]:
tmp.head(10)

In [ ]:
tmp.tail(10)

In [ ]:
new.to_csv("/Users/tjb/USU/Teaching/Spring2021/repos/Fin5330/Spring2021/Projects/Project1/Data/HO-Combined.csv", index=False)